server {
    listen 80;
    server_name {{ hostvars['nginx'].ansible_host }};

    location /live {
        proxy_pass {{ hostvars['icecast'].ansible_host }}:8000/live;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_buffering off;
    }

    location / {
        root /var/www/html;
        index index.html;
    }
}